In [1]:
import csv
from sklearn import preprocessing
import numpy as np
import pandas as pd

In [119]:
#Load Data
rootDir = r'C:\Users\soursinha\Documents\Sourabh\Python\Techgig\Code Gladiators-Invesco-DataSet'
activityFile = rootDir+ r'\Code-Gladiators-Activity.csv'
aumFile = rootDir + r'\Code-Gladiators-AUM.csv'
ieFile = rootDir + r'\Code-Gladiators-InvestmentExperience.csv'
transactFile = rootDir + r'\Code-Gladiators-Transaction.csv'

def load_data(file):
    with open(file,'rt') as csvfile:
        linereader= csv.reader(csvfile,delimiter=",",quotechar = "\"")
        lineNum =1
        transformData =[]
        for row in linereader:
            if lineNum == 1:
                header = row
            else:
                transformData.append(row)
            lineNum += 1
    return header,transformData

activityHeader,activityData = load_data(activityFile)
aumHeader,aumData = load_data(aumFile)

transactHeader,transactData = load_data(transactFile)

blank = ''
emptyrows =[]
def load_data_ignoring_blank(file):
    with open(file,'rt') as csvfile:
        linereader= csv.reader(csvfile,delimiter=",",quotechar = "\"")
        lineNum =1
        transformData =[]
        for row in linereader:
            if lineNum == 1:
                header = row
            else:
                if blank in row:
                    emptyrows.append(row)
                else:
                    transformData.append(row)
            lineNum += 1
    return header,transformData,emptyrows

ieHeader,ieData,emptyrows1 = load_data_ignoring_blank(ieFile)
ieHeader1,ieData1 = load_data(ieFile)

In [120]:
len(ieData1)
len(emptyrows1)

8240

In [121]:
#Replace space with underscore
def replace_space(inArray):
    outArray=[]
    for val in inArray:
        val = val.replace(" ", "_")
        outArray.append(val)
    return outArray

ieHeader= replace_space(ieHeader)

In [122]:
dfActivity = pd.DataFrame(activityData,columns=activityHeader)
dfAUM = pd.DataFrame(aumData,columns=aumHeader)
dfIE = pd.DataFrame(ieData,columns=ieHeader)
dfTrans = pd.DataFrame(transactData,columns=transactHeader)

#print(dfActivity.head(),"\n",dfAUM.head(),"\n",dfIE.head(),"\n",dfTrans.head())

In [123]:
dfActivity.head()

  Unique_Advisor_Id      Month Activity_Type Activity_Count
0           1000103  2015 / 01            11              3
1           1000103  2015 / 02            22              3
2           1000103  2015 / 06            11              3
3           1000103  2015 / 06            17              3
4           1000103  2015 / 06            26              3

In [125]:
dfAUM.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Shares,AUM
0,1000103,14142,2016 / 01,11648.1266666667,200464.26
1,1000103,14142,2016 / 02,4286.61333333333,74587.072
2,1000103,14142,2016 / 03,858.36,15819.5748333333
3,1000103,14142,2016 / 04,858.36,16016.9976666667
4,1000103,14142,2016 / 05,858.36,16059.9156666667

In [126]:
dfIE.head()

,Unique_Investment_Id,Morningstar_Category,Month,Investment,Rating,1_Yr_%_Rank,3_Yr_%_Rank,5_Yr_%_Rank,10_Yr_%_Rank,1_Yr_Return,...,10_Yr_Return,1_Yr_Excess_Return_vs_Primary_Ix,3_Yr_Excess_Return_vs_Primary_Ix,5_Yr_Excess_Return_vs_Primary_Ix,10_Yr_Excess_Return_vs_Primary_Ix,1_Yr_Excess_Return_vs_Category_Ix,3_Yr_Excess_Return_vs_Category_Ix,5_Yr_Excess_Return_vs_Category_Ix,10_Yr_Excess_Return_vs_Category_Ix,Net_Flows
0,11517,US Fund China Region,2016 / 03,Invesco Greater China R5,4,3,27,56,1,-3.445239,...,8.569822,10.308483,1.120413,-1.443925,2.723923,15.393079,2.54364,0.461386,1.097832,-49075518
1,11517,US Fund China Region,2016 / 04,Invesco Greater China R5,5,3,4,27,1,-14.686203,...,8.785515,9.032743,2.700089,-0.61443,3.827383,15.889852,3.355422,0.728812,1.882106,-16501941
2,11517,US Fund China Region,2016 / 05,Invesco Greater China R5,5,1,12,35,1,-12.771627,...,9.117216,9.433501,2.285898,-0.506715,3.526312,15.677773,3.13869,0.992673,1.727334,-64772633
3,11517,US Fund China Region,2016 / 06,Invesco Greater China R5,4,1,3,34,1,-8.460267,...,9.368178,8.67144,3.693275,-0.52041,3.571722,14.914227,4.197778,1.198623,2.08389,-20614972
4,11517,US Fund China Region,2016 / 07,Invesco Greater China R5,5,2,8,31,1,3.274363,...,9.861047,8.857577,2.855577,-0.517876,3.482494,14.408102,4.169983,1.299487,2.489668,-20783937

In [128]:
dfTrans.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount
0,1000103,20058,2016 / 01,P,1,48,1,7,4,4678.66666666667
1,1000103,20058,2016 / 01,P,1,48,1,7,4,353.066666666667
2,1000103,20058,2016 / 01,P,1,48,1,7,4,1809.62666666667
3,1000103,20058,2016 / 02,P,1,48,1,7,4,4678.66666666667
4,1000103,20058,2016 / 02,P,1,48,1,7,4,353.066666666667

In [129]:
#Map for Morning star cateogry
mrgCat_Map ={}
for i,val in enumerate(dfIE.Morningstar_Category.unique()):
    mrgCat_Map[val] = i

#Map for Morning star cateogry
inv_Map ={}
for i,val in enumerate(dfIE.Investment.unique()):
    inv_Map[val] = i

#print(inv_Map)

In [130]:
#create date feature
def convertDateToFeature(date):
    #this function will be used to convert date into a numerical feature
    import time
    from datetime import datetime
    dt = datetime.strptime(date, '%Y / %m')
    timestamp = int(time.mktime(dt.timetuple()))
    return timestamp

#this block is TODO

In [131]:
a = '2016 / 02'
import time
from datetime import datetime
dt = datetime.strptime(a, '%Y / %m')
print(dt)
dfActivity.head()

2016-02-01 00:00:00

  Unique_Advisor_Id      Month Activity_Type Activity_Count
0           1000103  2015 / 01            11              3
1           1000103  2015 / 02            22              3
2           1000103  2015 / 06            11              3
3           1000103  2015 / 06            17              3
4           1000103  2015 / 06            26              3

In [132]:
a1 = dfActivity.Month
dfActivity.Month = a1.apply(convertDateToFeature)
#dfActivity

In [133]:
dfActivity.head()

  Unique_Advisor_Id       Month Activity_Type Activity_Count
0           1000103  1420050600            11              3
1           1000103  1422729000            22              3
2           1000103  1433097000            11              3
3           1000103  1433097000            17              3
4           1000103  1433097000            26              3

In [134]:
a2trans = dfTrans.Month
dfTrans.Month = a2trans.apply(convertDateToFeature)
dfTrans.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount
0,1000103,20058,1451586600,P,1,48,1,7,4,4678.66666666667
1,1000103,20058,1451586600,P,1,48,1,7,4,353.066666666667
2,1000103,20058,1451586600,P,1,48,1,7,4,1809.62666666667
3,1000103,20058,1454265000,P,1,48,1,7,4,4678.66666666667
4,1000103,20058,1454265000,P,1,48,1,7,4,353.066666666667

In [135]:
a3aum = dfAUM.Month
dfAUM.Month = a3aum.apply(convertDateToFeature)
dfAUM.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Shares,AUM
0,1000103,14142,1451586600,11648.1266666667,200464.26
1,1000103,14142,1454265000,4286.61333333333,74587.072
2,1000103,14142,1456770600,858.36,15819.5748333333
3,1000103,14142,1459449000,858.36,16016.9976666667
4,1000103,14142,1462041000,858.36,16059.9156666667

In [136]:
a4ie = dfIE.Month
dfIE.Month = a4ie.apply(convertDateToFeature)
dfIE.head()

,Unique_Investment_Id,Morningstar_Category,Month,Investment,Rating,1_Yr_%_Rank,3_Yr_%_Rank,5_Yr_%_Rank,10_Yr_%_Rank,1_Yr_Return,...,10_Yr_Return,1_Yr_Excess_Return_vs_Primary_Ix,3_Yr_Excess_Return_vs_Primary_Ix,5_Yr_Excess_Return_vs_Primary_Ix,10_Yr_Excess_Return_vs_Primary_Ix,1_Yr_Excess_Return_vs_Category_Ix,3_Yr_Excess_Return_vs_Category_Ix,5_Yr_Excess_Return_vs_Category_Ix,10_Yr_Excess_Return_vs_Category_Ix,Net_Flows
0,11517,US Fund China Region,1456770600,Invesco Greater China R5,4,3,27,56,1,-3.445239,...,8.569822,10.308483,1.120413,-1.443925,2.723923,15.393079,2.54364,0.461386,1.097832,-49075518
1,11517,US Fund China Region,1459449000,Invesco Greater China R5,5,3,4,27,1,-14.686203,...,8.785515,9.032743,2.700089,-0.61443,3.827383,15.889852,3.355422,0.728812,1.882106,-16501941
2,11517,US Fund China Region,1462041000,Invesco Greater China R5,5,1,12,35,1,-12.771627,...,9.117216,9.433501,2.285898,-0.506715,3.526312,15.677773,3.13869,0.992673,1.727334,-64772633
3,11517,US Fund China Region,1464719400,Invesco Greater China R5,4,1,3,34,1,-8.460267,...,9.368178,8.67144,3.693275,-0.52041,3.571722,14.914227,4.197778,1.198623,2.08389,-20614972
4,11517,US Fund China Region,1467311400,Invesco Greater China R5,5,2,8,31,1,3.274363,...,9.861047,8.857577,2.855577,-0.517876,3.482494,14.408102,4.169983,1.299487,2.489668,-20783937

In [137]:
#Convert string to numeric features
def convertMorningStarCat(cat):
    return mrgCat_Map[cat]

def convertInv(inv):
    return inv_Map[inv]

map1 = dfIE.Morningstar_Category
dfIE.Morningstar_Category = map1.apply(convertMorningStarCat)

map2 = dfIE.Investment
dfIE.Investment = map2.apply(convertInv)

dfIE.head()

,Unique_Investment_Id,Morningstar_Category,Month,Investment,Rating,1_Yr_%_Rank,3_Yr_%_Rank,5_Yr_%_Rank,10_Yr_%_Rank,1_Yr_Return,...,10_Yr_Return,1_Yr_Excess_Return_vs_Primary_Ix,3_Yr_Excess_Return_vs_Primary_Ix,5_Yr_Excess_Return_vs_Primary_Ix,10_Yr_Excess_Return_vs_Primary_Ix,1_Yr_Excess_Return_vs_Category_Ix,3_Yr_Excess_Return_vs_Category_Ix,5_Yr_Excess_Return_vs_Category_Ix,10_Yr_Excess_Return_vs_Category_Ix,Net_Flows
0,11517,0,1456770600,0,4,3,27,56,1,-3.445239,...,8.569822,10.308483,1.120413,-1.443925,2.723923,15.393079,2.54364,0.461386,1.097832,-49075518
1,11517,0,1459449000,0,5,3,4,27,1,-14.686203,...,8.785515,9.032743,2.700089,-0.61443,3.827383,15.889852,3.355422,0.728812,1.882106,-16501941
2,11517,0,1462041000,0,5,1,12,35,1,-12.771627,...,9.117216,9.433501,2.285898,-0.506715,3.526312,15.677773,3.13869,0.992673,1.727334,-64772633
3,11517,0,1464719400,0,4,1,3,34,1,-8.460267,...,9.368178,8.67144,3.693275,-0.52041,3.571722,14.914227,4.197778,1.198623,2.08389,-20614972
4,11517,0,1467311400,0,5,2,8,31,1,3.274363,...,9.861047,8.857577,2.855577,-0.517876,3.482494,14.408102,4.169983,1.299487,2.489668,-20783937

In [138]:
dfTrans.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount
0,1000103,20058,1451586600,P,1,48,1,7,4,4678.66666666667
1,1000103,20058,1451586600,P,1,48,1,7,4,353.066666666667
2,1000103,20058,1451586600,P,1,48,1,7,4,1809.62666666667
3,1000103,20058,1454265000,P,1,48,1,7,4,4678.66666666667
4,1000103,20058,1454265000,P,1,48,1,7,4,353.066666666667

In [139]:
#Convert Transaction Type to boolean
transType_Map ={'P':0,'R':1}

def convertLabel(label):
    return transType_Map[label]

map3 = dfTrans.Transaction_Type
dfTrans.Transaction_Type = map3.apply(convertLabel)

dfTrans.head()

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount
0,1000103,20058,1451586600,0,1,48,1,7,4,4678.66666666667
1,1000103,20058,1451586600,0,1,48,1,7,4,353.066666666667
2,1000103,20058,1451586600,0,1,48,1,7,4,1809.62666666667
3,1000103,20058,1454265000,0,1,48,1,7,4,4678.66666666667
4,1000103,20058,1454265000,0,1,48,1,7,4,353.066666666667

In [33]:
print(len(dfTransactionActivity),len(dfTrans),len(dfActivity))

55385 163722 55385

In [141]:
dfIE1 =dfIE
dfIE1 = dfIE1.applymap(lambda x: np.nan if isinstance(x, str) and x.isspace() or x == '' else x)
#.apply(lambda x: x.str.strip()).replace('', np.nan)
dfIE1

,Unique_Investment_Id,Morningstar_Category,Month,Investment,Rating,1_Yr_%_Rank,3_Yr_%_Rank,5_Yr_%_Rank,10_Yr_%_Rank,1_Yr_Return,...,10_Yr_Return,1_Yr_Excess_Return_vs_Primary_Ix,3_Yr_Excess_Return_vs_Primary_Ix,5_Yr_Excess_Return_vs_Primary_Ix,10_Yr_Excess_Return_vs_Primary_Ix,1_Yr_Excess_Return_vs_Category_Ix,3_Yr_Excess_Return_vs_Category_Ix,5_Yr_Excess_Return_vs_Category_Ix,10_Yr_Excess_Return_vs_Category_Ix,Net_Flows
0,11517,0,1456770600,0,4,3,27,56,1,-3.445239,...,8.569822,10.308483,1.120413,-1.443925,2.723923,15.393079,2.54364,0.461386,1.097832,-49075518
1,11517,0,1459449000,0,5,3,4,27,1,-14.686203,...,8.785515,9.032743,2.700089,-0.61443,3.827383,15.889852,3.355422,0.728812,1.882106,-16501941
2,11517,0,1462041000,0,5,1,12,35,1,-12.771627,...,9.117216,9.433501,2.285898,-0.506715,3.526312,15.677773,3.13869,0.992673,1.727334,-64772633
3,11517,0,1464719400,0,4,1,3,34,1,-8.460267,...,9.368178,8.67144,3.693275,-0.52041,3.571722,14.914227,4.197778,1.198623,2.08389,-20614972
4,11517,0,1467311400,0,5,2,8,31,1,3.274363,...,9.861047,8.857577,2.855577,-0.517876,3.482494,14.408102,4.169983,1.299487,2.489668,-20783937
5,11517,0,1469989800,0,4,7,18,49,1,15.088269,...,10.029491,4.147198,0.656614,-0.956743,3.495015,7.050574,1.675539,0.198855,2.125076,-44656889
6,11517,0,1472668200,0,4,4,11,49,1,18.776081,...,9.844939,2.135994,1.127092,0.228233,3.330466,5.826248,2.435037,0.982177,2.065428,-24400764
7,11517,0,1475260200,0,4,4,8,39,1,6.947522,...,8.809949,-1.12E-02,0.546173,-0.19544,2.704366,5.404436,2.037095,1.346529,1.956327,-15742297
8,11517,0,1477938600,0,4,8,21,47,1,7.239508,...,7.558043,-1.653192,-0.64842,-1.65824,2.548658,3.408993,1.583162,-0.152923,1.934325,-80627007
9,11517,0,1480530600,0,4,6,25,31,1,5.271035,...,6.018125,-0.133724,-1.298389,-5.78E-02,2.137656,4.374461,0.23941,1.465841,2.256688,-120109700
10,11532,1,1420050600,1,3,68,65,86,41,31.557713,...,9.629675,-6.42E-03,-1.485076,-2.028349,-0.296666,-1.908455,-1.577711,-2.279114,-0.309949,1283934566
11,11532,1,1422729000,1,3,70,65,84,42,21.523759,...,8.991721,-0.353989,-1.455122,-1.958878,-0.26532,-1.114077,-1.417423,-2.045531,-0.243293,380435701
12,11532,1,1425148200,1,3,71,67,80,42,22.347663,...,9.35796,-0.329837,-1.370685,-1.50588,-0.180072,-1.755304,-1.503992,-1.768552,-0.245295,-553362016
13,11532,1,1427826600,1,3,67,63,78,42,12.233339,...,8.118925,-0.983154,-1.48467,-1.476184,-0.301224,-0.796391,-1.168763,-1.497472,-0.204018,-296492901
14,11532,1,1430418600,1,3,75,65,76,42,8.686284,...,7.775428,-1.081022,-1.503134,-1.452846,-0.252011,-1.449801,-1.231512,-1.420061,-0.163253,-709547195
15,11532,1,1433097000,1,3,68,58,72,38,3.427278,...,6.918995,-0.710875,-1.090064,-1.436818,-0.128912,-0.559327,-0.775272,-1.344842,9.10E-03,-1598808443
16,11532,1,1435689000,1,3,66,57,73,41,9.033771,...,6.715493,-0.263098,-0.782479,-1.33374,-0.115684,-0.76088,-0.75787,-1.341471,-3.64E-02,-189547131
17,11532,1,1438367400,1,3,73,56,73,40,-0.643087,...,6.50726,-0.314996,-0.72302,-1.343596,-8.16E-02,-0.636986,-0.573133,-1.219538,2.49E-02,-1255708917
18,11532,1,1441045800,1,3,68,64,71,40,8.038466,...,6.699766,0.195611,-0.601985,-1.209161,-5.09E-02,-1.567568,-1.017742,-1.298975,-5.01E-02,-420208236
19,11532,1,1443637800,1,3,74,69,71,42,4.628572,...,7.519418,-0.722784,-0.712577,-1.198671,-0.160241,-0.687448,-1.070792,-1.104789,-7.41E-02,85189247
20,11532,1,1446316200,1,3,78,62,71,41,2.016546,...,6.972721,-0.753662,-0.559003,-1.250342,-0.245154,-0.619455,-0.766576,-1.065715,-0.117452,-172620641
21,11532,1,1448908200,1,3,76,69,68,49,1.722459,...,6.916412,-1.102789,-0.753719,-1.195939,-0.462586,-0.819702,-1.126518,-1.138654,-0.373203,-51006448
22,11532,1,1451586600,1,3,55,65,64,49,-7.102844,...,5.842455,-0.547441,-0.532359,-0.922123,-0.400771,0.117221,-0.903145,-1.073072,-0.286481,-445301907
23,11532,1,1454265000,1,3,69,66,68,50,-5.262004,...,5.517045,-1.223343,-0.506,-1.078065,-0.492484,-1.134701,-0.913813,-1.247744,-0.381791,-454484087
24,11532,1,1456770600,1,3,61,67,67,51,2.804791,...,5.95486,-1.858063,-0.654905,-1.071198,-0.560397,-1.275723,-1.190783,-1.346721,-0.477502,62586509
25,11532,1,1459449000,1,3,43,59,62,51,6.945561,...,6.04088,-1.169234,-0.459285,-1.113603,-0.683021,-0.830668,-0.592673,-1.094588,-0.524774,63324793
26,11532,1,1462041000,1,3,47,66,62,51,9.017838,...,6.471891,-1.843592,-0.931303,-1.338651,-0.805757,-1.398164,-1.044095,-1.219818,-0.634448,484243348
27,11532,1,1464719400,1,3,67,69,67,55,19.805522,...,6.489318,-3.815226,-1.402416,-1.599848,-0.962082,-3.90235,-1.426728,-1.534251,-0.78491,-7681081
28,11532,1,1467311400,1,3,61,68,65,55,18.440689,...,6.668775,-3.887086,-1.29591,-1.522838,-0.836146,-3.899526,-1.464599,-1.453155,-0.696568,974071463
29,11532,1,1469989800,1,3,59,69,68,52,21.827729,...,6.047238,-3.545685,-1.237683,-1.437543,-0.680902,-3.69055,-1.438086,-1.323628,-0.499146,580302755
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5938,9340,17,1467311400,271,5,47,10,11,6,-4.534887,...,9.553248,-10.148861,-1.93503,-1.572024,1.806002,0.76766,1.828955,1.027845,1.150955,-1561846773
5939,9340,17,1469989800,271,5,47,13,10,6,3.645407,...,9.434992,-8.907599,-2.277734,-0.558141,1.925727,9.41E-02,1.542489,1.106989,1.230847,-1115578805
5940,9340,17,1472668200,271,5,48,12,13,6,10.80471,...,9.465144,-4.625733,-2.944805,0.320639,2.227044,-1.318835,1.631817,0.548418,1.179268,-1145434855
5941,9340,17,1475260200,271,5,48,13,11,7,0.880512,...,8.365549,-3.628572,-3.037504,-0.912428,1.667382,1.369429,2.097859,1.314828,1.445619,-1045267592
5942,9340,17,1477938600,271,4,39,14,10,9,6.512229,...,8.73484,-1.545984,-1.9116,6.97E-02,1.849488,1.930391,1.871127,1.132317,1.149608,-584087636
5943,9340,17,1480530600,271,4,41,21,12,9,11.698429,...,8.783885,-0.261494,-2.899553,4.09E-02,1.8382,0.380334,0.921137,0.960099,1.027123,-900259105
5944,9969,33,1420050600,272,3,49,26,47,25,1.380602,...,7.007289,-5.231863,4.121159,3.271193,2.14688,-1.071646,-0.392155,-0.866033,-0.686478,1615899828
5945,9969,33,1422729000,272,3,52,27,44,26,1.657405,...,7.06364,-3.394339,4.395524,4.062595,2.240255,-1.178149,-0.471641,-0.829768,-0.731352,5793968958
5946,9969,33,1425148200,272,3,50,32,45,25,1.161106,...,7.337277,-4.558507,3.786545,3.21614,2.411255,-0.892004,-0.575783,-0.774632,-0.69911,-2151641504
5947,9969,33,1427826600,272,3,50,30,44,24,1.833564,...,7.613455,-2.624951,4.431714,3.350005,2.866045,-0.732615,-0.494559,-0.710297,-0.668474,483676190
5948,9969,33,1430418600,272,3,44,35,40,24,1.586647,...,7.473262,-1.447525,5.396925,4.489696,2.863731,-0.257912,-0.461809,-0.637694,-0.648671,515154322
5949,9969,33,1433097000,272,3,59,31,45,27,-1.147114,...,7.113766,-3.005222,4.686546,4.444384,2.675674,-0.597709,-0.286884,-0.616812,-0.63877,-3911743272
5950,9969,33,1435689000,272,3,61,36,51,29,-0.344913,...,6.831077,-3.168992,3.990299,3.551935,2.225074,-0.507775,-0.320893,-0.716537,-0.687314,-3085923888
5951,9969,33,1438367400,272,3,54,33,48,27,-3.07372,...,6.642061,-4.628943,3.142318,3.509382,2.184233,7.34E-04,-0.194441,-0.637412,-0.646681,-3017271572
5952,9969,33,1441045800,272,3,47,41,48,24,-3.10148,...,6.48605,-6.042282,1.461572,2.239005,1.849404,0.463889,-0.289679,-0.60745,-0.628827,-1814076436
5953,9969,33,1443637800,272,3,35,35,35,22,-0.89916,...,6.957531,-2.855088,2.293057,2.603992,2.236007,1.152475,-0.165419,-0.374389,-0.524475,3907102203
5954,9969,33,1446316200,272,3,28,30,32,20,-1.69503,...,6.715976,-2.665327,1.68717,2.451129,2.068366,1.866211,0.125086,-0.219716,-0.470659,-2959059331
5955,9969,33,1448908200,272,3,43,42,36,20,-3.281036,...,6.337952,-3.830994,0.183595,1.341114,1.823095,1.361936,-1.14E-02,-0.254835,-0.471558,-9537604144
5956,9969,33,1451586600,272,3,45,46,37,22,-5.227635,...,6.041395,-5.067714,-1.498708,0.345614,1.384235,1.566375,6.34E-03,-0.224001,-0.430403,-3127264922
5957,9969,33,1454265000,272,3,49,49,37,22,-7.403804,...,5.930756,-8.906508,-1.660919,2.67E-02,1.234252,1.138716,-8.62E-02,-0.268576,-0.523343,2207294845
5958,9969,33,1456770600,272,3,54,51,37,23,-4.064027,...,6.246381,-6.024564,-1.214179,0.510096,1.350841,-7.43E-02,-0.468309,-0.422077,-0.602582,7610447967
5959,9969,33,1459449000,272,3,43,46,33,21,-1.806072,...,6.554257,-4.526546,-0.506213,1.100644,1.599506,-0.469728,-0.680554,-0.519513,-0.645473,2366251967
5960,9969,33,1462041000,272,3,44,46,31,22,-1.79532,...,6.615131,-4.790184,-0.757424,1.433011,1.646438,-0.877421,-0.735426,-0.49883,-0.668476,-224048554
5961,9969,33,1464719400,272,3,52,42,33,24,-0.222754,...,6.697516,-6.224004,-0.692027,1.31172,1.564017,-1.93016,-0.812038,-0.630986,-0.742614,-2462559610
5962,9969,33,1467311400,272,3,45,44,35,25,2.695782,...,6.84307,-3.239265,-0.828413,1.740843,1.784468,-2.226443,-0.9965,-0.665711,-0.751142,3464554223
5963,9969,33,1469989800,272,3,50,42,30,25,6.174722,...,6.886193,0.208645,-8.11E-04,3.563134,1.999105,-3.007444,-1.018167,-0.509182,-0.772369,1910572446
5964,9969,33,1472668200,272,3,57,48,36,26,9.296643,...,6.774565,4.104205,1.60E-02,4.389041,1.985313,-3.518459,-1.229031,-0.773018,-0.812758,14017393
5965,9969,33,1475260200,272,3,76,54,37,28,5.820036,...,6.607525,1.44954,-0.32951,3.400998,1.967729,-4.344559,-1.378486,-0.76299,-0.857474,-1251374006
5966,9969,33,1477938600,272,3,84,60,34,28,6.795262,...,6.390334,4.623597,-6.49E-02,4.32455,2.121076,-5.454848,-1.509013,-0.70808,-0.862223,-6327859308
5967,9969,33,1480530600,272,3,75,61,34,32,11.582138,...,6.383058,8.934655,1.06E-02,4.36848,2.038363,-5.906505,-1.678862,-0.751521,-0.961026,4233110547

In [142]:
#Change type
#1. Activity
dfActivity = dfActivity.astype('int')
#print(dfActivity.dtypes,dfActivity.head())

#2.AUM
dfAUM[["Unique_Advisor_Id","Unique_Investment_Id"]] =dfAUM[["Unique_Advisor_Id","Unique_Investment_Id"]].astype('int')
dfAUM[["Shares","AUM"]] =dfAUM[["Shares","AUM"]].astype('float32')
#print(dfAUM.dtypes,dfAUM.head())

#3. Transaction
dfTrans.head()
dfTrans[["Unique_Advisor_Id","Unique_Investment_Id","Code_1","Code_2","Code_3","Code_4","Code_5"]] =dfTrans[["Unique_Advisor_Id","Unique_Investment_Id","Code_1","Code_2","Code_3","Code_4","Code_5"]].astype('int')
dfTrans[["Amount"]] =dfTrans[["Amount"]].astype('float32')
#dfTrans.dtypes

In [147]:
#4.Investment Experience
dfIE1[["1_Yr_Return","3_Yr_Return","5_Yr_Return","10_Yr_Return","1_Yr_Excess_Return_vs_Primary_Ix","3_Yr_Excess_Return_vs_Primary_Ix","5_Yr_Excess_Return_vs_Primary_Ix","10_Yr_Excess_Return_vs_Primary_Ix","1_Yr_Excess_Return_vs_Category_Ix","3_Yr_Excess_Return_vs_Category_Ix","5_Yr_Excess_Return_vs_Category_Ix","10_Yr_Excess_Return_vs_Category_Ix","Net_Flows"]] =dfIE1[["1_Yr_Return","3_Yr_Return","5_Yr_Return","10_Yr_Return","1_Yr_Excess_Return_vs_Primary_Ix","3_Yr_Excess_Return_vs_Primary_Ix","5_Yr_Excess_Return_vs_Primary_Ix","10_Yr_Excess_Return_vs_Primary_Ix","1_Yr_Excess_Return_vs_Category_Ix","3_Yr_Excess_Return_vs_Category_Ix","5_Yr_Excess_Return_vs_Category_Ix","10_Yr_Excess_Return_vs_Category_Ix","Net_Flows"]].astype('float32')
dfIE1[["Unique_Investment_Id","Rating","1_Yr_%_Rank","3_Yr_%_Rank","5_Yr_%_Rank","10_Yr_%_Rank"]] =dfIE1[["Unique_Investment_Id","Rating","1_Yr_%_Rank","3_Yr_%_Rank","5_Yr_%_Rank","10_Yr_%_Rank"]].astype('int')

dfIE1.dtypes

Unique_Investment_Id                    int32
Morningstar_Category                    int64
Month                                   int64
Investment                              int64
Rating                                  int32
1_Yr_%_Rank                             int32
3_Yr_%_Rank                             int32
5_Yr_%_Rank                             int32
10_Yr_%_Rank                            int32
1_Yr_Return                           float32
3_Yr_Return                           float32
5_Yr_Return                           float32
10_Yr_Return                          float32
1_Yr_Excess_Return_vs_Primary_Ix      float32
3_Yr_Excess_Return_vs_Primary_Ix      float32
5_Yr_Excess_Return_vs_Primary_Ix      float32
10_Yr_Excess_Return_vs_Primary_Ix     float32
1_Yr_Excess_Return_vs_Category_Ix     float32
3_Yr_Excess_Return_vs_Category_Ix     float32
5_Yr_Excess_Return_vs_Category_Ix     float32
10_Yr_Excess_Return_vs_Category_Ix    float32
Net_Flows                             float32
dtype: object

In [156]:
len(dfAUM)
dfAUM.head()
grpAUM = dfAUM.groupby(["Unique_Advisor_Id","Unique_Investment_Id","Month"]).sum()
print(len(dfAUM),len(grpAUM))

grpActivity = dfActivity.groupby(["Unique_Advisor_Id","Month","Activity_Type"])["Activity_Count"].sum()
#grpActivity.head()
print(len(dfActivity),len(grpActivity))

grpIE = dfIE1.groupby(["Unique_Investment_Id","Morningstar_Category","Month","Investment","Rating"]).sum()
print(len(grpIE),len(dfIE1))

673600 673600
55385 55385
5968 5968

In [157]:
#only Transaction table needs grouping
grpTrans = dfTrans.groupby( [ "Unique_Advisor_Id", "Unique_Investment_Id","Month","Transaction_Type"] ).sum()
print(len(grpTrans),len(dfTrans))

76177 163722

In [158]:
grpTrans.head()

                                                                    Code_1  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
12243             3562                 1451586600 0                      7
                                       1454265000 1                      1
                                       1459449000 0                      1
                                       1469989800 0                      1
                                       1475260200 1                      1

                                                                    Code_2  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
12243             3562                 1451586600 0                     34
                                       1454265000 1                     28
                                       1459449000 0                     28
                                       1469989800 0                     28
                                       1475260200 1                     28

                                                                    Code_3  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
12243             3562                 1451586600 0                      2
                                       1454265000 1                      1
                                       1459449000 0                      1
                                       1469989800 0                      1
                                       1475260200 1                      1

                                                                    Code_4  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
12243             3562                 1451586600 0                      8
                                       1454265000 1                      4
                                       1459449000 0                      4
                                       1469989800 0                      4
                                       1475260200 1                      4

                                                                    Code_5  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
12243             3562                 1451586600 0                      2
                                       1454265000 1                      1
                                       1459449000 0                      1
                                       1469989800 0                      1
                                       1475260200 1                      1

                                                                          Amount
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
12243             3562                 1451586600 0                  3469.325195
                                       1454265000 1                -16338.127930
                                       1459449000 0                  4915.994629
                                       1469989800 0                  1297.329956
                                       1475260200 1                  -689.456665

In [232]:
#set index for all the data frames
dfActivity.set_index(["Unique_Advisor_Id","Month","Activity_Type"])
dfAUM.set_index(["Unique_Advisor_Id","Unique_Investment_Id","Month"])
dfIE.set_index(["Unique_Investment_Id","Morningstar_Category","Month","Investment","Rating"])
dfTrans.set_index([ "Unique_Advisor_Id", "Unique_Investment_Id","Month","Transaction_Type"])

                                                                    Code_1  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
1000103           20058                1451586600 0                      1
                                                  0                      1
                                                  0                      1
                                       1454265000 0                      1
                                                  0                      1
                                                  0                      1
                                       1456770600 0                      1
                                                  0                      1
                                                  0                      1
                  4021                 1456770600 1                      1
                                       1459449000 1                      1
                  20058                1459449000 0                      1
                                                  0                      1
                                                  0                      1
                  9278                 1462041000 0                      1
                  3562                 1462041000 0                      1
                                                  1                      1
                  20058                1462041000 0                      1
                                                  0                      1
                                                  0                      1
                  9278                 1464719400 0                      1
                  20058                1464719400 0                      1
                                                  1                      1
                                                  1                      1
                                                  0                      1
                                                  0                      1
                                                  1                      1
                  4021                 1464719400 1                      1
                                                  0                      1
                                                  1                      1
...                                                                    ...
999586            4021                 1467311400 1                      3
                  18817                1469989800 1                      3
                  4021                 1469989800 1                      3
                  18817                1472668200 1                      3
                  4021                 1472668200 1                      3
                                       1475260200 1                      3
                                       1477938600 0                      3
                                                  1                      3
                                                  1                      3
                                       1480530600 1                      3
999754            3586                 1451586600 1                      1
                  4021                 1456770600 1                      1
                                                  1                      1
                  3586                 1459449000 1                      1
                  4021                 1459449000 1                      1
                                                  1                      1
                                       1464719400 1                      1
                  3586                 1467311400 1                      1
                  4021                 1472668200 1                      1
                  3586                 1475260200 1                      1
                  4021                 1475260200 1                      1
                  18817                1480530600 1                      1
                  4021                 1480530600 1                      1
999859            4363                 1451586600 0                      1
                  4021                 1456770600 1                      1
                                       1462041000 0                      1
                                       1472668200 0                      1
                  4363                 1475260200 0                      1
                  4021                 1480530600 0                      1
                                                  1                      1

                                                                    Code_2  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
1000103           20058                1451586600 0                     48
                                                  0                     48
                                                  0                     48
                                       1454265000 0                     48
                                                  0                     48
                                                  0                     48
                                       1456770600 0                     48
                                                  0                     48
                                                  0                     48
                  4021                 1456770600 1                     22
                                       1459449000 1                     14
                  20058                1459449000 0                     48
                                                  0                     48
                                                  0                     48
                  9278                 1462041000 0                     14
                  3562                 1462041000 0                      6
                                                  1                     10
                  20058                1462041000 0                     48
                                                  0                     48
                                                  0                     48
                  9278                 1464719400 0                     14
                  20058                1464719400 0                     48
                                                  1                     48
                                                  1                     48
                                                  0                     48
                                                  0                     48
                                                  1                     48
                  4021                 1464719400 1                     22
                                                  0                     22
                                                  1                     22
...                                                                    ...
999586            4021                 1467311400 1                     22
                  18817                1469989800 1                     40
                  4021                 1469989800 1                     22
                  18817                1472668200 1                     40
                  4021                 1472668200 1                     24
                                       1475260200 1                     22
                                       1477938600 0                     28
                                                  1                     22
                                                  1                     22
                                       1480530600 1                     22
999754            3586                 1451586600 1                     14
                  4021                 1456770600 1                     22
                                                  1                     29
                  3586                 1459449000 1                     14
                  4021                 1459449000 1                     22
                                                  1                     29
                                       1464719400 1                     22
                  3586                 1467311400 1                     14
                  4021                 1472668200 1                     22
                  3586                 1475260200 1                     14
                  4021                 1475260200 1                     29
                  18817                1480530600 1                     40
                  4021                 1480530600 1                     22
999859            4363                 1451586600 0                     14
                  4021                 1456770600 1                     22
                                       1462041000 0                     22
                                       1472668200 0                     22
                  4363                 1475260200 0                     14
                  4021                 1480530600 0                     14
                                                  1                     22

                                                                    Code_3  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
1000103           20058                1451586600 0                      1
                                                  0                      1
                                                  0                      1
                                       1454265000 0                      1
                                                  0                      1
                                                  0                      1
                                       1456770600 0                      1
                                                  0                      1
                                                  0                      1
                  4021                 1456770600 1                      1
                                       1459449000 1                      1
                  20058                1459449000 0                      1
                                                  0                      1
                                                  0                      1
                  9278                 1462041000 0                      1
                  3562                 1462041000 0                      1
                                                  1                      1
                  20058                1462041000 0                      1
                                                  0                      1
                                                  0                      1
                  9278                 1464719400 0                      1
                  20058                1464719400 0                      1
                                                  1                      1
                                                  1                      1
                                                  0                      1
                                                  0                      1
                                                  1                      1
                  4021                 1464719400 1                      1
                                                  0                      1
                                                  1                      1
...                                                                    ...
999586            4021                 1467311400 1                      1
                  18817                1469989800 1                      1
                  4021                 1469989800 1                      1
                  18817                1472668200 1                      1
                  4021                 1472668200 1                      1
                                       1475260200 1                      1
                                       1477938600 0                      1
                                                  1                      1
                                                  1                      1
                                       1480530600 1                      1
999754            3586                 1451586600 1                      1
                  4021                 1456770600 1                      1
                                                  1                      1
                  3586                 1459449000 1                      1
                  4021                 1459449000 1                      1
                                                  1                      1
                                       1464719400 1                      1
                  3586                 1467311400 1                      1
                  4021                 1472668200 1                      1
                  3586                 1475260200 1                      1
                  4021                 1475260200 1                      1
                  18817                1480530600 1                      1
                  4021                 1480530600 1                      1
999859            4363                 1451586600 0                      1
                  4021                 1456770600 1                      1
                                       1462041000 0                      1
                                       1472668200 0                      1
                  4363                 1475260200 0                      1
                  4021                 1480530600 0                      1
                                                  1                      1

                                                                    Code_4  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
1000103           20058                1451586600 0                      7
                                                  0                      7
                                                  0                      7
                                       1454265000 0                      7
                                                  0                      7
                                                  0                      7
                                       1456770600 0                      7
                                                  0                      7
                                                  0                      7
                  4021                 1456770600 1                     26
                                       1459449000 1                      1
                  20058                1459449000 0                      7
                                                  0                      7
                                                  0                      7
                  9278                 1462041000 0                      2
                  3562                 1462041000 0                      4
                                                  1                      4
                  20058                1462041000 0                      7
                                                  0                      7
                                                  0                      7
                  9278                 1464719400 0                      2
                  20058                1464719400 0                      7
                                                  1                      7
                                                  1                      7
                                                  0                      7
                                                  0                      7
                                                  1                      7
                  4021                 1464719400 1                     26
                                                  0                     26
                                                  1                     26
...                                                                    ...
999586            4021                 1467311400 1                     26
                  18817                1469989800 1                     14
                  4021                 1469989800 1                     26
                  18817                1472668200 1                     14
                  4021                 1472668200 1                     22
                                       1475260200 1                     26
                                       1477938600 0                     22
                                                  1                     26
                                                  1                     26
                                       1480530600 1                     26
999754            3586                 1451586600 1                     13
                  4021                 1456770600 1                     26
                                                  1                     26
                  3586                 1459449000 1                     13
                  4021                 1459449000 1                     26
                                                  1                     26
                                       1464719400 1                     26
                  3586                 1467311400 1                     13
                  4021                 1472668200 1                     26
                  3586                 1475260200 1                     13
                  4021                 1475260200 1                     26
                  18817                1480530600 1                     14
                  4021                 1480530600 1                     26
999859            4363                 1451586600 0                      3
                  4021                 1456770600 1                     26
                                       1462041000 0                     26
                                       1472668200 0                     26
                  4363                 1475260200 0                      3
                  4021                 1480530600 0                      1
                                                  1                     26

                                                                    Code_5  \
Unique_Advisor_Id Unique_Investment_Id Month      Transaction_Type
1000103           20058                1451586600 0                      4
                                                  0                      4
                                                  0                      4
                                       1454265000 0                      4
                                                  0                      4
                                                  0                      4
                                       1456770600 0                      4
                                                  0                      4
                                                  0                      4
                  4021                 1456770600 1                      4
                                       1459449000 1                      4
                  20058                1459449000 0                      4

In [199]:
dfTransactionActivity = pd.merge(dfTrans,dfActivity,how='inner',left_on=['Unique_Advisor_Id','Month'],
                                 right_on=['Unique_Advisor_Id','Month'])
dfIEAUM = pd.merge(dfAUM,dfIE,how='inner',left_on=["Unique_Investment_Id"],right_on=["Unique_Investment_Id"])

In [200]:
#dfTransactionActivity.head()
dfIEAUM.head()
#print(len(dfTransactionActivity),len(dfTrans),len(dfActivity))
print(len(dfIE),len(dfAUM),len(dfIEAUM))

5968 673600 0

In [185]:
dfTransactionActivityAUM = pd.merge(dfTransactionActivity,dfAUM,how='inner',left_on=["Unique_Advisor_Id","Unique_Investment_Id","Month"],
                                 right_on=["Unique_Advisor_Id","Unique_Investment_Id","Month"])

In [193]:
dfTransactionActivityAUM.head()
#print(len(dfTransactionActivityAUM),len(dfTransactionActivity),len(dfAUM))

,Unique_Advisor_Id,Unique_Investment_Id,Month,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount,Activity_Type,Activity_Count,Shares,AUM
0,1002831,11659,1469989800,1,3,1,2,29,4,-0.326667,16,3,0.000000,271615.593750
1,1004662,3562,1451586600,0,2,6,1,4,1,1027.725342,1,3,89.632225,2930.973633
2,1004662,3562,1451586600,0,2,6,1,4,1,1027.725342,26,3,89.632225,2930.973633
3,1004662,3562,1451586600,0,2,28,1,4,1,1367.461304,1,3,89.632225,2930.973633
4,1004662,3562,1451586600,0,2,28,1,4,1,1367.461304,26,3,89.632225,2930.973633

In [194]:
dfTranActAUMIE = pd.merge(dfTransactionActivityAUM,dfIE,left_on=['Unique_Investment_Id','Month'], right_on = ['Unique_Investment_Id','Month'])

In [195]:
dfTranActAUMIE.head()
#dfActivity1 = pd.DataFrame(dfActivity,index =["Unique_Advisor_Id","Month","Activity_Type"])
#dfActivity1  = pd.DataFrame(activityData,columns=activityHeader)
#dfActivity1.head()
#dfActivity1.set_index(["Unique_Advisor_Id","Month","Activity_Type"])
#nparr = np.array(dfActivity1)
#nparr

Empty DataFrame
Columns: [Unique_Advisor_Id, Unique_Investment_Id, Month, Transaction_Type, Code_1, Code_2, Code_3, Code_4, Code_5, Amount, Activity_Type, Activity_Count, Shares, AUM, Morningstar_Category, Investment, Rating, 1_Yr_%_Rank, 3_Yr_%_Rank, 5_Yr_%_Rank, 10_Yr_%_Rank, 1_Yr_Return, 3_Yr_Return, 5_Yr_Return, 10_Yr_Return, 1_Yr_Excess_Return_vs_Primary_Ix, 3_Yr_Excess_Return_vs_Primary_Ix, 5_Yr_Excess_Return_vs_Primary_Ix, 10_Yr_Excess_Return_vs_Primary_Ix, 1_Yr_Excess_Return_vs_Category_Ix, 3_Yr_Excess_Return_vs_Category_Ix, 5_Yr_Excess_Return_vs_Category_Ix, 10_Yr_Excess_Return_vs_Category_Ix, Net_Flows]
Index: []

[0 rows x 34 columns]

In [209]:
a = dfIE.Unique_Investment_Id.unique()
#type(dfIE)
#dfAUM.Unique_Investment_Id.unique()
dfTrans[dfTrans.Unique_Investment_Id.isin(a) ]

Empty DataFrame
Columns: [Unique_Advisor_Id, Unique_Investment_Id, Month, Transaction_Type, Code_1, Code_2, Code_3, Code_4, Code_5, Amount]
Index: []

In [245]:
opFile = rootDir+r'/test_data.csv'
opData = pd.read_csv(opFile)
opData.set_index(["Unique_Advisor_Id","Unique_Investment_Id"])
opData.head()

   Unique_Advisor_Id  Unique_Investment_Id
0            1000103                 14147
1            1000103                  3534
2            1000103                  3651
3            1000103                  7668
4            1000103                  9339

In [259]:
opData.keys()
len(opData)

8714

In [265]:
d1= pd.merge(opData,dfAUM,how='inner',left_on=['Unique_Advisor_Id', 'Unique_Investment_Id'],right_on=['Unique_Advisor_Id', 'Unique_Investment_Id'])
d2 = pd.merge(d1,dfActivity,left_on=["Unique_Advisor_Id","Month"],right_on=["Unique_Advisor_Id","Month"])
d3 = pd.merge(d2,dfTrans,how='outer',left_on=['Unique_Advisor_Id', 'Unique_Investment_Id','Month'],right_on=['Unique_Advisor_Id', 'Unique_Investment_Id','Month'])
#len(d3)
d4 = d3[d3.Transaction_Type.isnull()]
len(d3)
d4

,Unique_Advisor_Id,Unique_Investment_Id,Month,Shares,AUM,Activity_Type,Activity_Count,Transaction_Type,Code_1,Code_2,Code_3,Code_4,Code_5,Amount
0,1000103,3534,1454265000,24.129168,2055.600098,26.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000103,3651,1454265000,57.422165,4902.133301,26.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000103,9339,1454265000,133.534836,11905.083008,26.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000103,3534,1456770600,25.027000,2311.466553,13.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000103,3651,1456770600,58.817833,5401.299805,13.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000103,9339,1456770600,137.493164,13302.716797,13.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1000103,3534,1459449000,25.558834,2435.783447,13.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000103,3651,1459449000,60.097832,5534.399902,13.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000103,9339,1459449000,140.390839,13734.733398,13.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1000103,3534,1464719400,26.727501,2507.983398,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1000103,3651,1464719400,63.295502,5654.133301,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1000103,7668,1464719400,1082.996704,13504.968750,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1000103,9339,1464719400,46.323002,4654.100098,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1000103,3534,1467311400,27.455334,2677.566650,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1000103,3534,1467311400,27.455334,2677.566650,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1000103,3651,1467311400,64.802330,5986.700195,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,1000103,3651,1467311400,64.802330,5986.700195,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1000103,7668,1467311400,827.356689,10846.645508,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1000103,7668,1467311400,827.356689,10846.645508,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1000103,9339,1467311400,47.227833,4950.533203,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1000103,9339,1467311400,47.227833,4950.533203,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1000103,3534,1469989800,28.219166,2822.483398,13.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,1000103,3534,1469989800,28.219166,2822.483398,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1000103,3534,1469989800,28.219166,2822.483398,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,1000103,3651,1469989800,66.444832,6131.516602,13.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1000103,3651,1469989800,66.444832,6131.516602,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1000103,3651,1469989800,66.444832,6131.516602,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1000103,7668,1469989800,0.000000,0.000000,13.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1000103,7668,1469989800,0.000000,0.000000,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1000103,7668,1469989800,0.000000,0.000000,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58461,999483,18652,1459449000,637.561646,5476.654785,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58462,999483,18652,1459449000,637.561646,5476.654785,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58463,999483,4008,1459449000,1504.918945,19548.896484,1.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58464,999483,4008,1459449000,1504.918945,19548.896484,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58465,999483,18652,1462041000,638.318359,5476.771484,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58466,999483,18652,1462041000,638.318359,5476.771484,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58467,999483,18652,1462041000,638.318359,5476.771484,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58468,999483,4008,1462041000,1504.918945,19443.552734,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58469,999483,4008,1462041000,1504.918945,19443.552734,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58470,999483,4008,1462041000,1504.918945,19443.552734,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58471,999483,18652,1464719400,499.088348,4307.132324,11.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58472,999483,4008,1464719400,1511.615601,20119.603516,11.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58473,999483,18652,1467311400,499.667511,4322.124023,11.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58474,999483,18652,1467311400,499.667511,4322.124023,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58475,999483,4008,1467311400,1661.513306,23194.726562,11.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58476,999483,4008,1467311400,1661.513306,23194.726562,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58477,999483,18652,1469989800,500.265015,4327.292480,11.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58478,999483,18652,1469989800,500.265015,4327.292480,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58479,999483,4008,1469989800,1526.670044,20869.578125,11.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58480,999483,4008,1469989800,1526.670044,20869.578125,22.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58481,999483,18652,1472668200,500.832489,4327.192871,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58482,999483,4008,1472668200,1516.327515,20455.257812,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58483,999586,4008,1464719400,630.069153,8386.220703,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58484,999586,4008,1467311400,622.934998,8696.172852,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58485,999754,14147,1462041000,6116.851074,114629.781250,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58486,999754,19936,1462041000,26498.222656,366470.437500,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58487,999754,14147,1472668200,6138.237305,116380.984375,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58488,999754,14147,1472668200,6138.237305,116380.984375,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58489,999754,19936,1472668200,26863.816406,372063.875000,25.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58490,999754,19936,1472668200,26863.816406,372063.875000,26.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [235]:
dfAUM.head()
dfAUM.set_index(["Unique_Advisor_Id","Unique_Investment_Id","Month"])

                                                         Shares            AUM
Unique_Advisor_Id Unique_Investment_Id Month
1000103           14142                1451586600  11648.126953  200464.265625
                                       1454265000   4286.613281   74587.070312
                                       1456770600    858.359985   15819.575195
                                       1459449000    858.359985   16016.998047
                                       1462041000    858.359985   16059.916016
                                       1464719400    847.224976   16088.802734
                                       1467311400    847.224976   16351.442383
                                       1469989800    847.224976   16207.414062
                                       1472668200    845.809998   16019.641602
                                       1475260200    845.809998   15926.602539
                                       1477938600    845.809998   16349.507812
                                       1480530600    845.809998   16324.132812
                  3462                 1451586600    365.836670    2520.614746
                  3491                 1451586600   1401.203369   30672.341797
                                       1454265000   1401.203369   30294.015625
                                       1456770600   1406.380005   32234.230469
                  3534                 1451586600     18.968500    1790.766724
                                       1454265000     24.129168    2055.600098
                                       1456770600     25.027000    2311.466553
                                       1459449000     25.558834    2435.783447
                                       1462041000     52.243168    4984.016602
                                       1464719400     26.727501    2507.983398
                                       1467311400     27.455334    2677.566650
                                       1469989800     28.219166    2822.483398
                                       1472668200     28.748667    2875.416748
                                       1475260200     29.816999    2955.216553
                                       1477938600     31.145500    3366.416748
                                       1480530600     28.920834    3180.483398
                  3567                 1456770600   7070.759277   50555.929688
                                       1459449000      0.000000       0.000000
...                                                         ...            ...
999859            3573                 1456770600  15330.312500  109458.429688
                                       1459449000  15391.707031  112051.632812
                                       1462041000  15453.737305  112966.820312
                                       1464719400  15515.959961  112801.031250
                                       1467311400  15574.417969  114939.210938
                                       1469989800  15631.372070  115828.468750
                                       1472668200  15692.385742  117065.195312
                                       1475260200  15753.727539  117995.421875
                                       1477938600  15812.952148  118439.007812
                                       1480530600  15877.446289  120192.273438
                  3640                 1451586600     70.504166     272.851166
                                       1454265000     70.504166     270.735992
                                       1456770600     59.446667     234.814331
                                       1459449000     59.446667     241.947922
                                       1462041000     59.446667     241.947922
                                       1464719400     59.446667     241.353500
                                       1467311400     59.446667     244.920258
                  4035                 1480530600   9275.267578  104068.500000
                  7668                 1451586600   4801.069824   57708.863281
                                       1454265000   4801.069824   57852.894531
                                       1456770600   4801.069824   62125.847656
                                       1459449000   4801.069824   63086.058594
                                       1462041000   4801.069824   62942.027344
                                       1464719400   4801.069824   59869.343750
                                       1467311400   4801.069824   62942.027344
                                       1469989800   4801.069824   64286.328125
                                       1472668200   4801.069824   65438.585938
                                       1475260200   4954.031738   65888.625000
                                       1477938600   4954.031738   65442.757812
                                       1480530600   5066.748535   67945.093750

[673600 rows x 2 columns]